<a href="/home/"><button>Goto home page</button></a>
<form action="/logoutrequest/" method="post"><input type="submit" value="logout"/></form>



    country name : <a href="/countrydetail/{{value_obj.Code}}">{{value_obj.Name}}</a><br>
    continent : {{value_obj.Continent}}<br>
    Region : {{value_obj.Region}}<br>
    surface area : {{value_obj.SurfaceArea}}<br>
    year of independence : {{value_obj.IndepYear}}<br>
    population : {{value_obj.Population}}<br>
    life expectancy : {{value_obj.LifeExpectancy}}<br>
    GNP : {{value_obj.GNP}}<br>
    GNP old : {{value_obj.GNPOld}}<br>
    local name : {{value_obj.LocalName}}<br>
    government form : {{value_obj.GovernmentForm}}<br>
    head of state : {{value_obj.HeadOfState}}<br>
    capital : {{value_obj.Capital}}<br>